# experiment outputs
results/**

!results/**/

!results/**/*.png
!results/**/metrics.json
!results/**/cfg.yaml

cache/

# model artifacts
*.pt
*.pth
*.npz
*.csv


# python
__pycache__/
*.pyc

# editor
.vscode/

# datasets
data/

Βιβλιογραφια/
